body {
  margin: 0;
  background-color: #fff5ec;
}

/* navbar start */
.navbar .log-out {
  text-decoration: none; 
  color: grey;
}

.navbar .log-out:hover {
  color: black;
}

/* nav li {
  display: inline;
  list-style-type: none;
  margin-right: 90px;
} */

/* nav li a:hover {
  color: black;
} */

/* nav li  a {
  text-decoration: none;
  color: grey;
} */

.nav-add {
  text-decoration: underline;
  font-weight: 500;
  color: black;
}
/* navbar end */

/* add recipe start */
#add-recipe {
  margin-top: 130px;
  margin-left: 200px;
  margin-right: 200px;
}

#add-recipe .btn {
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  background-color: #efc81a;
  border-color: #efc81a;
  color: white;
  margin-bottom: 90px;
}
/* add recipe end */