body {
  margin: 0;
  background-color: #fff5ec;
}

/* navbar start */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.nav-link:hover {
  /* font-weight: 500; */
  color: black;
}

.online-logo {
  width: 10px; 
  z-index: 1;
  margin-bottom: 33px;
  margin-right: -44px;
}

.log-out {
  text-decoration: none; 
  color: grey;
}

.log-out:hover {
  color: black;
}
/* navbar end */


/* profile section start */
#profile-username .profile-photo-edit {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 70px;
  width: 120px;
}

.profile-recipe ul li {
  display: inline;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.profile-recipe .myrecipe a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.savedrecipe a {
  text-decoration: none;
  color: grey;
}

.likedrecipe a {
  text-decoration: none;
  color: grey;
}

.savedrecipe a:hover {
  color: black;
}

.likedrecipe a:hover {
  color: black;
}

.clickable-image {
  margin-top: 5px;
  margin-left: 65px;
  object-fit: cover;
  position: relative;
}

.clickable-image img {
  border-radius: 11px;
  height: 12rem;
  width: 16.5rem;
  box-shadow: -1px 6px 27px -4px rgba(0,0,0,0.67);
  -webkit-box-shadow: -1px 6px 27px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: -1px 6px 27px -4px rgba(0,0,0,0.67);
}

.image-title {
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 15rem;
  text-shadow: 1px 4px 2px rgba(0,0,0,0.6);
}

.clickable-image:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/* profile section end */