body {
  margin: 0;
  background-color: #fff5ec;
}

/* navbar start */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-background {
  background-color: #efc81a;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
  color: #fff5ec !important;
}

.nav-link:hover {
  color: black;
}

.nav-home {
  font-weight: 500;
  color: black;
}

.button-logres a {
  text-decoration: none;
}

/* navbar end */

/* recipe start */
#recipe h1 {
  font-size: 45px;
  color: #2e266f;
  display: flex;
  justify-content: center;
  margin-top: 8rem;
}

#recipe .title-img {
  width: 35rem;
  height: 21rem;
  display: block;
  margin: auto;
  margin-top: 2rem;
  border-radius: 8px;
  box-shadow: -11px 16px 21px -5px rgba(0,0,0,0.75);
  -webkit-box-shadow: -11px 16px 21px -5px rgba(0,0,0,0.75);
  -moz-box-shadow: -11px 16px 21px -5px rgba(0,0,0,0.75);
}

#recipe h2 {
  margin-left: 75px;
  margin-top: 75px;
  font-size: 35px;
}

#recipe p {
  margin-left: 55px;
  margin-top: 35px;
  line-height: 32px;
  font-family: Airbnb Cereal App;
}

#recipe .form-control {
  color: grey;
  width: 60rem;
  height: 220px;
  margin-top: 100px;
  margin-left: 130px;
  border-radius: 8px;
}

#recipe .videostep {
  display: inline-grid;
}

#recipe .videostep .btn {
  margin-left: 80px;
  margin-top: 25px;
  width: 200px;
  height: 45px;
  background-color: #efc81a;
  border-color: #efc81a;
}

#recipe .videostep .btn:hover {
  background-color: #FFA500;
}

#recipe .comment .btn {
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 35px;
  width: 190px;
  height: 50px;
  background-color: #efc81a;
  border-color: #efc81a;
  color: white;
}

#recipe .comment .btn:hover {
  background-color: #FFA500;
}

#recipe .comment {
  margin-left: -45px;
}

#recipe .user-comment img {
  margin-left: 80px;
  margin-top: 25px;
  width: 65px;
}

#recipe h3 {
  margin-left: 175px;
  font-size: 18px;
  margin-top: -61px;
}

#recipe .user-comment p {
  margin-left: 175px;
  margin-top: 3px;
}

#recipe .comment a {
  text-decoration: none;
}


/* recipe end */

/* responsive for mobile start */
@media screen and (max-width: 576px) {
  /* navbar start */
  .navbar {
    background-color: #efc81a;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
    color: #fff5ec !important;
  }

  #recipe .comment {
    margin-left: -18%;
  }

  #recipe .comment .btn {
    margin-left: 38%;
  }

  #recipe .user-comment .comment-text {
    margin-left: 7%;
    margin-top: 22%;
  }

  #recipe .form-control {
    width: 60%;
    height: 225px;
  }

  #recipe .user {
    margin-left: -15%;
  }

  #recipe .title-img {
    width: 69%;
    height: 12%;
  }

}