body {
  margin: 0;
  background-color: #fff5ec;
  width: 100%;
}


/* navbar start */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar-background {
  background-color: #efc81a;
  box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
  -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
  -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
  color: #fff5ec !important;
}

.nav-link:hover {
  color: black;
}

.nav-home {
  font-weight: 500;
  text-decoration: underline;
}

.button-logres a {
  text-decoration: none;
}

.online-logo {
  width: 10px; 
  z-index: 1;
  margin-bottom: 35px;
  margin-right: -43px;
}

.log-out {
  text-decoration: none; 
  color: grey;
}

.log-out:hover {
  color: black;
}

/* navbar end */

/* header start */

#header {
  height: 100vh;
  display: flex;
  align-items: center;
  background-color: #fff5ec;
}

#header h1 {
  font-style: normal;
  font-weight: 700;
  font-size: 52px;
  /* or 125% */
  
  display: flex;
  align-items: center;
  text-transform: capitalize;
  
  color: #2e266f;
}

#header .background-grid {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header .main-background-guest {
  position: absolute;
  z-index: 5;
  width: 43%;
  margin-top: 97px;
  margin-left: 11%;
}

#header .background-1-guest {
  margin-top: -18%;
  margin-left: 30%;
  width: 421px;
}

#header .background-2-guest {
  position: absolute;
  width: 40%;
  margin-top: 5%;
  margin-left: 15%;
}

#header .content {
  z-index: 1;
}

#header .overlay-background {
  height: 100vh;
  width: 300px;
  background-color: #efc81a;
  position: absolute;
  z-index: 0;
  right: 0;
  border-radius: 1px;
}

/* header end */

/* new-recipe start */
#new-recipe {
  margin-top: 80px;
  margin-bottom: 150px;
}

#new-recipe .title {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 80px;
  color: #3f3a3a;
  position: relative;
  z-index: 1;
  margin-bottom: 100px;
  border-left: 15px solid #efc81a;
  padding-left: 20px;
}

#new-recipe .background-overlay {
  height: 500px;
  background-color: #efc81a;
  width: 350px;
  margin-top: -50px;
  position: absolute;
  z-index: 0;
  border-radius: 1px;
}

#new-recipe .main-image {
  width: 80%;
  height: 500px;
  object-fit: cover;
  border-radius: 10px;
  z-index: 1;
  position: relative;
}
/* new recipe end */

/* popular recipe start */
#popular-recipe {
  margin-top: 80px;
  /* margin-bottom: 150px; */
}

#popular-recipe .title {
  font-style: normal;
  font-weight: 500;
  font-size: 38px;
  line-height: 80px;
  color: #3f3a3a;
  position: relative;
  z-index: 1;
  margin-bottom: 80px;
  border-left: 15px solid #efc81a;
  padding-left: 20px;
}

#popular-recipe .grid-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px 10px;
}

#popular-recipe .clickable-image-home {
  cursor: pointer;
  height: 360px;
  object-fit: cover;
  position: relative;
}

#popular-recipe .clickable-image-home img {
  border-radius: 10px;
}

#popular-recipe .clickable-image-home:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

#popular-recipe .grid-wrapper .image-title-home {
  position: absolute;
  z-index: 1;
  bottom: 67px;
  margin: 15px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 13rem;
  text-shadow: 3px 0px 5px rgba(0, 0, 0, 0.29);
}
/* popular recipe end */

/* pagination start */
.pagination {
  --bs-pagination-color: grey;
  --bs-pagination-border-color: black;
  --bs-pagination-bg: #fff5ec;
  --bs-pagination-hover-color:black;
  --bs-pagination-hover-border-color: black;
  --bs-pagination-hover-bg: #fff5ec;
  --bs-pagination-active-border-color: black;
  --bs-pagination-active-bg: #efc81a;
  --bs-pagination-active-color: black;
}

.previous {
  --bs-disabled-color: grey;
  --bs-disabled-border-color: black;
}
/* pagination end */

/* footer start */
#footer-home-guest {
  background-color: #efc81a;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
  position: relative;
}

#footer-home-guest h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 30px;
  
  color: #2e266f;
}

#footer-home-guest p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #707070;
}

#footer-home-guest .footer-link {
  position: absolute;
  bottom: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

#footer-home-guest .footer-link p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: black;
  margin-left: 30px;
  margin-bottom: 30px;
}
/* footer end */


/* responsive for mobile start */
@media screen and (max-width: 576px) {
  /* navbar start */
  .navbar {
    background-color: #efc81a;
    box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
    -webkit-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 1px 2px 5px 0px rgba(0, 0, 0, 0.24);
    color: #fff5ec !important;
  }
  /* navbar end */

  /* header start */
  #header, #header .background-grid {
    display: block;
    align-items: unset;
  }

  #header .overlay-background {
    width: 50%;
    margin-right: -8%;
  }

  #header .background-grid .main-background {
    width: 250px;
    margin-top: 165px;
    margin-left: 15%;
  }

  #header .background-1 {
    width: 220px;
    margin-top: 70px;
    margin-left: 25%;
    position: relative;
    z-index: 1;
  }

  #header .background-2 {
    width: 270px;
    margin-left: -67%;
    margin-top: 164px;
  }

  #header .row {
    flex-direction: column-reverse !important;
  }

  #header .container .discover {
    margin-top: -13rem;
    z-index: 1;
  }

  #header .container .discover h1 {
    font-size: 40px;
  }
  /* header end */

  /* new recipe start */
  #new-recipe .background-overlay {
    height: 375px;
    width: 200px;
  }

  #new-recipe .main-image {
    width: 90%;
    height: 355px;
    margin-left: 12px;
    object-fit: cover;
    border-radius: 10px;
    z-index: 1;
    position: relative;
    box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.75);
    -webkit-box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.75);
   -moz-box-shadow: 11px 10px 5px -3px rgba(0,0,0,0.75);
  }

  #new-recipe .title {
    font-size: 35px;
  }
  /* new recipe end */

  /* popular recipe start */
  #popular-recipe .title {
    font-size: 35px;
  }

  #popular-recipe .grid-wrapper {
    grid-template-columns: repeat(2, 1fr);
    margin-top: -5vh;
  }

  #popular-recipe .clickable-image-home {
    height: 105%;
    width: 100%;
    margin-left: 11%;
  }

  #popular-recipe .grid-wrapper .image-title-home {
    bottom: 25px;
    margin: 10px;
    width: 7rem;
    font-size: 22px;
  }

  .pagin-style {
    margin-top: 2rem;
  }

  #footer-home-guest {
    width: 108%
  }

  #footer-home-guest h2 {
    font-size: 35px;
  }

  #footer-home-guest p {
    font-size: 14px;
  }
}
/* responsive for mobile end */


/* navbar for tablet start */
@media screen and (min-width: 712px) and (max-width: 900px) {
  body {
    background-color: red;
  }

}
/* navbar for tablet end */
