body {
  margin: 0;
  background-color: #fff5ec;
}

/* navbar start */
.navbar {
  padding-top: 10px;
  padding-bottom: 10px;
}

.navbar li {
  display: inline;
  list-style-type: none;
  margin-right: 90px;
}

.nav-link:hover {
  /* font-weight: 500; */
  color: black;
}

.nav-link {
  text-decoration: none;
  color: grey;
}

.nav-profile {
  font-weight: 500;
  text-decoration: underline;
  color: black;
}

.online-logo {
  width: 10px; 
  z-index: 1;
  margin-bottom: 35px;
  margin-right: -43px;
}

.log-out {
  text-decoration: none; 
  color: grey;
}

.log-out:hover {
  color: black;
}
/* navbar end */


/* profile section start */
#profile-username .profile-photo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 90px;
  width: 120px;
}

.username {
  text-align: center;
  font-weight: 500;
  font-size: 20px;
}

.profile-recipe ul li {
  display: inline;
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
}

.profile-recipe .myrecipe a {
  color: black;
  font-weight: 500;
  text-decoration: none;
}

.savedrecipe a {
  text-decoration: none;
  color: grey;
}

.likedrecipe a {
  text-decoration: none;
  color: grey;
}

.savedrecipe a:hover {
  color: black;
}

.likedrecipe a:hover {
  color: black;
}

.clickable-image-profile {
  margin-top: 5px;
  margin-left: 65px;
  object-fit: cover;
  position: relative;
}

.clickable-image-profile img {
  border-radius: 11px;
  height: 12rem;
  width: 16.5rem;
  box-shadow: -1px 6px 27px -4px rgba(0,0,0,0.67);
  -webkit-box-shadow: -1px 6px 27px -4px rgba(0,0,0,0.67);
  -moz-box-shadow: -1px 6px 27px -4px rgba(0,0,0,0.67);
}

.image-title-profile {
  color: white;
  position: absolute;
  z-index: 1;
  bottom: 0;
  margin: 9px;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  width: 12rem;
  text-shadow: 1px 4px 2px rgba(0,0,0,0.6);
}

.clickable-image-profile:hover {
  transform: scale(1.1);
  transition: 0.5s;
}
/* profile section end */

/* footer start */
.ftr-profile p {
  margin-right: 35px;
}

.ftr-profile {
  padding: 20px;
  color: black;
  background-color: #EFC81A;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
/* footer end */