/* * {
  overflow: hidden;
} */

html, body {
  margin: 0;
}

#register {
  overflow-x: hidden;
}

.bg-register {
  background-image: url(../images/background-image\(rl\).webp);
  background-size: cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-overlay {
  background-color: #EFC81A;
  ;
}

.mrtext {
  color: white;
  margin-top: 10px;
  margin-left: 28%;
}

.stoveimg {
  height: 120px;
}

.register-form {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  overflow-y: auto;
}

.register-form h1 {
  font-family: "Inter";
  font-size: 21px;
  display: flex;
  justify-content: center;  
  color: #EFC81A;
  margin-top: 10px;
}

.register-form .create {
  font-family: "Inter";
  font-size: 13px;
  display: flex;
  justify-content: center;  
  color: #8692A6;
}

.register-form .log-in {
   line-height: 45px;
}

.register-form .width-form-register{
  width: 20rem;
  margin-bottom: 6px;
}

.register-form .width-form-register .form-control {
  font-size: 17px;
  line-height: 1;
}

.register-form .form-check-input:checked {
  background-color: #EFC81A;
  border-color: #EFC81A;
}

.register-form .forgot-pass {
  text-decoration: none;
  color: #999999;
  font-size: 13px;
  display: block;
  text-align: right;
}

.register-form .log-in a {
  text-decoration: none;
}

.log-in a {
  font-family: Airbnb Cereal App;
  color: #EFC81A;
}


@media screen and (max-width: 576px) {
  #register {
    overflow: hidden;
  }

  #register .row .bg-register {
    display: none;
  }

  #register .reg-form {
    height: 70%;
  }

  #register .register-form {
    margin-left: 25%;
  }
}