body {
  margin: 0;
  background-color: #E5E5E5;
}

/* navbar start */
.navbar {
  background-color: #efc81a;
}

.navbar .log-out {
  text-decoration: none; 
  color: grey;
}

.navbar .log-out:hover {
  color: black;
}

nav li {
  display: inline;
  list-style-type: none;
  margin-right: 90px;
}

nav li a:hover {
  color: black;
}

nav li  a {
  text-decoration: none;
  color: grey;
}

.nav-add {
  text-decoration: underline;
  font-weight: 500;
  color: black;
}
/* navbar end */

/* add recipe start */
#add-recipe {
  margin-top: 130px;
  margin-left: 200px;
  margin-right: 200px;
}

#add-recipe .btn {
  display: block;
  justify-content: center;
  margin: auto;
  margin-top: 40px;
  width: 200px;
  height: 50px;
  background-color: #efc81a;
  border-color: #efc81a;
  color: white;
  margin-bottom: 90px;
}
/* add recipe end */

/* footer start */
footer {
  background-color: #efc81a;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 400px;
  text-align: center;
  position: relative;
}

footer h2 {
  font-style: normal;
  font-weight: 400;
  font-size: 52px;
  margin-bottom: 30px;

  color: #2e266f;
}

footer p {
  font-style: normal;
  font-weight: 300;
  font-size: 18px;
  text-align: center;
  color: #707070;
}

footer .footer-link {
  position: absolute;
  bottom: 0;
  display: flex;
  margin: auto;
  justify-content: center;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

footer .footer-link p {
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  text-transform: capitalize;
  color: black;
  margin-left: 30px;
  margin-bottom: 30px;
}
/* footer end */