/* footer start */
#short-footer p {
  margin-right: 35px;
}

#short-footer {
  padding: 20px;
  color: black;
  background-color: #EFC81A;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 2;
}
/* footer end */